
<%= form_for(@profile, :url=>profiles_path, :html => {:multipart => true}) do |profile| %>
  <% if @profile.errors.any? %>
    <div id="error_notice">
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=render :partial => 'form_attributes', :locals => {:profile => profile} %>

  <div class="actions">
    <%= profile.submit %>
  </div>

<% end %>
