<% content_for :title do %>
  Seek Your Course | Navigation for Creative Learning and Living
<% end %>


   <div id="" class="grid_3 ">
   <div class="browse">
<img src="images/headers/browse.png" alt="browse learning opportunities" width="175" height="45"/>
	 <div class="browse-buttons"><a href="#">by TYPE</a></div>
     <div class="browse-buttons"><a href="#">by TOPIC</a></div>
     <div class="browse-buttons"><a href="#">by START DATE</a></div>
     <div class="browse-buttons"><a href="#">by LOCATION</a></div>
     
<div id="" class="container_12">
<div id="" class="grid_9 ">
	<div class="intro">
    </div>
    
</div>

</div>

                

<div id="" class="container_12">

<div id="" class="grid_4 ">
	<div class="blogfeed">
    <img src="images/headers/blogfeed.png" class="header_center" alt="seek your course blog feed" />
    </div>
</div>

<div id="" class="grid_4 ">
	<div class="slideshow">
    </div>
</div>

<div id="" class="grid_4 ">
	<div class="spotlight">
    <img src="images/headers/spotlight.png" class="header_center" alt="seek your course blog feed" />
    </div>
</div>

</div>


<div id="" class="container_12">

    <div id="" class="grid_12 ">
    
        <div id="footer" class="clearfix">
        <p>&copy; 2011 Seek Your Course</p> 
        
        </div>
    
    </div>

</div>
</div>
      
