<% form_for :topic, @topic, :url => topic_path, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p><%= f.submit %></p>
<% end %>
