.hidden{
  display: none;
}

body{

background: url('/images/background-allotherpages.png') no-repeat 50% 0;
}
a img, img{
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}

table{
  margin: 5px;
}

table tr td{
  padding: 5px;
}

.ui-widget-content h5, .ui-widget-content h4, .ui-widget-content p{
  margin: 5px;
}

hr{
  margin: 5px auto;
}

label{
  font-weight: bold;
  font-size: .9em;
}

.ui-button-container{
  width: 150px;
  margin: 5px auto;
}
.right{
  float: right;
}

.left{
  float: left;
}

.syc_pagination {
  font-size: .8em;
  text-align: center;
  padding: .3em; }
  .syc_pagination a, .syc_pagination span {
    padding: .2em .5em; }
  .syc_pagination span.disabled {
    color: #0B91A3; }
  .syc_pagination span.current {
    font-weight: bold;
    color: #0B91A3; }
  .syc_pagination a {
    color: #0063DC;
    text-decoration: none; }
    .syc_pagination a:hover, .syc_pagination a:focus {
      border-color: #414042;
      background: #FFCC67;}
  .syc_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .syc_pagination .prev_page, .syc_pagination .next_page {
    border-width: 2px; }
  .syc_pagination .prev_page {
    margin-right: 1em; }
  .syc_pagination .next_page {
    margin-left: 1em; }

.new_user td, .edit_user td{
  width: 200px;
}

.error_messages, .error_notice, #flash_notice, #flash_alert, #flash_error{
  position: fixed;
  max-width: 300px;
  left: 5px;
  top: 40px;
}
.error_messages h2, .error_notice h2, #flash_notice h2, , #flash_error h2{
  font-size: 1em;
}
#flash_alert, #flash_notice{
  border: 1px solid blue;
  padding: 10px;
  font-size: .8em;
  background: #EEF;
  margin: 5px;
}

.error_messages, .error_notice, #flash_error{
  border: 1px solid red;
  padding: 10px;
  font-size: .8em;
  background: #FEE;
  margin: 5px;
}

.error_messages ul, .error_notice ul{
  margin: 10px;
  margin-left: 20px;
}

.field_with_errors{
  background: #FDD;
}

.signup{
  margin: 5px;
  width:200px;
}
 .login{
  margin: 5px;
  border-right: 1px solid black;
  width: 250px;
}
.forgot_password{
	width: 160px;
	padding: 6px;
	margin: 0px auto;
}
.forgot_password a{
	font-size: .7em;
	text-align: center;
	color: #3454AA;
}

/*********************** Form Fields */
#offering_registered_artist_ids{
  width: 300px;
  margin: 0px auto;
}

.field{
 margin: 10px;
}
.field i{
  font-size: .8em;
}

.exceed {
	color: red;
}
/*********************** Terms of Use */
.terms_of_use{
  border: 1px solid black;
  height: 500px;
  overflow: auto;
  background: white;
  padding: 5px;
  margin: 5px;
}

.terms_of_use p{
  font-size: .8em;
}

#acceptance{
  margin: 5px;
  font-size: .8em;
  
}

/*********************** Social Media */

#social_connect{
	width: 130px;
	margin: 5px;
}

/*********************** Map */

#map-links{
font-size:.8em;
text-align:center
}
#map{
height: 300px;
}

.continent{
width:500px;
height:287px;
position:absolute;
}
.NorthAmerica{
	//background: url(images/map/NorthAmerica.gif);
}
.NorthAmericaHover{
	background: url(images/map/NorthAmericaHover.png);
}
.SouthAmerica{
	//background: url(images/map/SouthAmerica.gif);
}
.SouthAmericaHover{
	background: url(images/map/SouthAmericaHover.png);
}

.Europe{
	//background: url(images/map/Europe.gif);
}
.EuropeHover{
	background: url(images/map/EuropeHover.png);
}
.Africa{
	//background: url(images/map/Africa.gif);
}
.AfricaHover{
	background: url(images/map/AfricaHover.png);
}
.OceaniaHover{
	background: url(images/map/OceaniaHover.png);
}
.Oceania{
	//background: url(images/map/Oceania.gif);
}
.AsiaHover{
	background: url(images/map/AsiaHover.png);
}
.Asia{
	//background: url(images/map/Asia.gif);
}

.Online{
}
.OnlineHover{
	background: url(images/map/OnlineHover.png);
}
.Map{
	background: url(images/map/map.png);
}

/**************************** Main Page jQUery */
#header-image-background-main{
}

#info_box{
	width:400px;
	height:200px;
	background:#056571;
	margin-bottom:15px;

}

#tab_box{
	width: 200px;
	margin:0px;
	float:left;

}

#expand_box{
	width: 200px;
	margin:0px;
	float:right;
}

.infoTab{
	width:200px;
	height:66px;
	margin:0px;
	
}

.infoBox{
	font-size:.8em;
	font-family:Arial,Helvetica,sans-serif;
	background-color:#C4CDCC;
	position: absolute;
	height:200px;
	width: 200px;
	margin:0px;
}

#expand_box p{
	font-family:Arial,Helvetica,sans-serif;
	letter-spacing:1px;
	margin:5px;
	color:white;
}

#expand_box a{
	color:white;
	text-decoration: underline;
}

.newToThis{
	background:#0E93A5;
}

.liveCreativeLife{
	background:#117B89;
}

.promoteCreativity{
	background:#056571;
}

/********************Feed Item */



/*********************** 960 Mods */

#header2{
	height:210px;
}

.browse_container{
color:#333333;
margin-bottom:10px;
padding:8px;
width: 142px;
float:left;
margin:0px;
}

.browse_box{
	border:2px solid #99CC66;
}

.browse_box_image_container{
	margin: 0px auto;
	width:88px;
}
.browse_box_image_container img{
	margin: 0px auto;
}

.browse_box a{
	color:#414042;
	font-family:Arial,Helvetica,sans-serif;
	letter-spacing:2px;
	margin:5px;
}

.featuredlisting img{
	margin: 0px;
}

.featuredsponsor img{
	margin: 0px;
}

.grid-gallery{
	height: 150px;
	width:120px;
}

.grid-gallery a{
	text-align: center;
}

.user-gallery{
	background: #EEE;
	height: 160px;
	font-size: .8em;
	text-align: center;
}

.user-gallery img{
	margin:3px;
	width: 110px;
}

.user-gallery a{
}

.topic-gallery{
	display:inline;
	float:left;
	margin-bottom:15px;
	margin-left:0;
	margin-right:5px;
	position:relative;
	width:115px;

	margin-bottom: 5px;
	font-size: .8em;
	text-align: center;
	margin-right: 5px;
	
	height:160px;
}

.topic-gallery a{
}


.wideheader a{
	letter-spacing: 2px;
	size: 16px;
}
.contentlearning_profile img{
  margin: 5px;
}
.grid_adsright img{
  margin-bottom: 15px;
}


