a img, img{
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

a img{
  border: none;
}

table{
  margin: 5px;
}

.ui-widget-content h5{
  margin: 5px;
}

hr{
  margin: 5px auto;
}

label{
  text-decoration: underline;
}

.ui-button-container{
  width: 100px;
  margin: 5px auto;
}
.right{
  float: right;
}

.left{
  float: left;
}

.syc_pagination {
  font-size: .8em;
  text-align: center;
  padding: .3em; }
  .syc_pagination a, .syc_pagination span {
    padding: .2em .5em; }
  .syc_pagination span.disabled {
    color: #0B91A3; }
  .syc_pagination span.current {
    font-weight: bold;
    color: #0B91A3; }
  .syc_pagination a {
    color: #0063DC;
    text-decoration: none; }
    .syc_pagination a:hover, .syc_pagination a:focus {
      border-color: #414042;
      background: #FFCC67;}
  .syc_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .syc_pagination .prev_page, .syc_pagination .next_page {
    border-width: 2px; }
  .syc_pagination .prev_page {
    margin-right: 1em; }
  .syc_pagination .next_page {
    margin-left: 1em; }

.new_user td, .edit_user td{
  width: 200px;
}

.error_messages, .error_notice{
  border: 1px solid red;
  padding: 10px;
  font-size: .8em;
  background: #FEE;
  margin: 5px;
}

.error_messages ul, .error_notice ul{
  margin: 10px;
  margin-left: 20px;
}

.field_with_errors{
  background: #FDD;
}


.signup{
  margin: 5px;
  width:200px;
}
 .login{
  margin: 5px;
  border-right: 1px solid black;
  width: 250px;
}

/*********************** 960 Mods */

.contentlearning_profile img{
  margin: 5px;
}
