<%content_for :browse do%>

<div id="" class="grid_navleft">
     <div class="manage-nav clearfix">
   <h5>A SYC account is FREE and enables you to list ecourses, retreats and conferences, and create a profile page.</h5>
   <h5>You can also change current listings anytime  by logging in.   </h5>
   </div>

  </div>
<% end %>
