<% title "Update Profile" %>
<div class="contentlearning-profile clearfix">
  <h1>Update Personal Information</h1> <%= content_tag(:div, content_tag(:p, link_to ('Create a profile', new_profiles_path, :class=>"ui-button")), :class=>"ui-button-container ")  if current_user.profile.nil? %>
  <%= render 'form' %>
</div>

<%= content_for(:span, render(:partial => 'users/user_admin')) if current_user %>
