<% title "Sign up" %>

<div class="contentlearning-profile clearfix">
    
    <h1>Instructors &amp; Coordinators: Sign Up!</h1>
    <h5>Thank you for your interest in becoming part of Seek Your Course.
    </h5>
    <p><strong>With an account you can:</strong><br />
      - List your ecourses (instructors) or retreats/conferences (coordinators).<br />
      - Create a public profile for your work (instructors) or your retreat/conference (coordinators).<br />
      - Link listings to instructor profiles.<br />
      - Update your listings and profile anytime.</p>
    <p>As soon as you sign up...<br />
      <strong>Your free Premium Package for listings will include:</strong><br />
      - 200 word description of your offering.<br />
      - Three pictures.<br />
      - List of topics covered.<br />
      - Your contact info and a link to your website.<br />
      - Twitter and Facebook announcements.<br />
      - Inclusion in an &quot;Upcoming Registrations&quot; blog post in the weeks before your registration opens.</p>
    <p><strong>Even if you don't have learning opportunities to list right now, sign up and create a public profile.</strong> Your profile will be accessible and your presence will make the collective effort stronger!</p>
    <p><br />
    </p>
    <p><strong>Does my listing belong on Seek Your Course?</strong><br />
      A good question to ask. Listings are for<strong> ecourses, and multi-day retreats and conferences </strong>right now.</p>
    <p>Seek Your Course does have a specific target market. We are listing learning opportunities that have<strong> greater than 50% of the content dealing directly with the topics within the scope of Seek Your Course, which includes:</strong><br />
      - Fine Arts (painting, encaustic, sculpture, drawing, printmaking, calligraphy)<br />
      - Photography/Film-making<br />
      - Mixed Media Arts<br />
      - Jewelry-making<br />
      - Fiber Arts<br />
      - Writing and Storytelling<br />
      - Creative Blogging<br />
      - Journaling<br />
      - Artistic Expression through Movement<br />
      - Life Coaching through Creative Expression<br />
      - Upcycling/Repurposing Objects<br />
      - Creative Entrepreneurship</p>
    <p><strong>If you are not sure if your listing falls into this group, please<a href="mailto:info@seekyoucourse.com"> email us</a>.</strong> We do reserve the right to not accept your listings that we determine do not fit within our scope of content.</p>
    <p>All listings are free until <strong>December 1</strong>. You will all receive a Premium Package until then.<strong> During the month of November you will have the choice to continue your listings for a fee or reduce them to the free package.</strong> More information will come to you at the end of October.    </p>
    <p>&nbsp;</p>

<%= render 'form' %>
</div>


<%= content_for(:span, render(:partial => 'users/registration_info')) %>
