<% title "Sign up" %>

<div class="contentlearning-profile clearfix">
<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<h4>Please enter the required (*) information</h4>

<%= render 'form' %>
</div>


<%= content_for(:span, render(:partial => 'users/registration_info')) %>
