<div class="terms_of_use">

  <p><font  face="Helvetica">Terms of Use:</font> <br></p>
<p><font  face="Helvetica">1. Acceptance of Terms</font> <br>

</p>
<p><font  face="Helvetica">Seek Your Course provides online 
resources, including classified-type listings, creative resource links, 
stories of creative experiences, recommendations of other products or 
services, email updates, and advertisements (“Services”).  
By creating an account with Seek Your Course you (“User”) agree 
to the following Terms of Service (“Terms”), which govern usage 
of and access to any and all content available through Seek Your Course.   
Violation of these Terms may result in the termination of User accounts 
without refund for Services.</font> <br> <br></p>
<p><font  face="Helvetica">2. Content</font> <br></p>
<p><font  face="Helvetica">Seek Your Course is not responsible 
for content made available by Users. Users are solely responsible for 
every item of content listed.</font> <br></p>
<p><font  face="Helvetica">Users must have permission to use 
all content posted (including but not limited to images, text, and links). </font> <br>
</p>
<p><font  face="Helvetica">Users must ensure that all precautions 
have been taken to ensure their information is not misleading, inappropriate, 
inaccurate, offensive, or otherwise objectionable. </font></p>

<p><font  face="Helvetica">In particular the following will 
not be allowed:</font></p>
<ul><p><font  face="Helvetica">profanity </font></p></ul>
<ul><p><font  face="Helvetica">pornography</font></p></ul>
<ul><p><font  face="Helvetica">content that degrades, harasses, 
intimidates or is hateful against any one person or group of persons </font><font  face="ArialMT">on the basis of religion, gender, sexual orientation, 
race, ethnicity, age, or disability</font></p></ul>
<ul><p><font  face="ArialMT">content that leads anyone to believe 
that you are someone you are not</font></p></ul>
<ul><p><font  face="ArialMT">repetitive content</font></p></ul>
<ul><p><font  face="ArialMT">incoherent content</font> <br>
</p></ul>

<p><font  face="Helvetica">User links to outside websites are 
restricted to sites specifically managed by the User or sites referring 
specifically to services or products provided by the User.</font> <br>
</p>
<p><font  face="Helvetica">Content must be provided in the English 
language.</font> <br> <br></p>
<ul><p><font  face="Helvetica">Scope of Content</font> <br>
</p></ul>
<p><font  face="Helvetica">Seek Your Course reserves the right 
to not list learning opportunites and discontinue User accounts that 
we determine do not fit within our scope of content. Users may only 
list learning opportunities that have greater than 50% of the content 
dealing directly with the topics within the scope of Seek Your Course.</font> <br>
</p>
<p><font  face="Helvetica">The topics within the scope of Seek 
Your Course include:</font></p>

<ul><p><font  face="Helvetica">Fine Arts (painting, encaustic, 
sculpture, drawing, printmaking, calligraphy)</font></p></ul>
<ul><p><font  face="Helvetica">Photography/Film-making</font></p></ul>
<ul><p><font  face="Helvetica">Mixed Media Arts</font></p></ul>
<ul><p><font  face="Helvetica">Jewelry-making</font></p></ul>
<ul><p><font  face="Helvetica">Fiber Arts</font></p></ul>
<ul><p><font  face="Helvetica">Writing and Storytelling</font></p></ul>
<ul><p><font  face="Helvetica">Creative Blogging</font></p></ul>
<ul><p><font  face="Helvetica">Journaling</font></p></ul>
<ul><p><font  face="Helvetica">Artistic Expression through Movement</font></p></ul>

<ul><p><font  face="Helvetica">Life Coaching through Creative 
Expression</font></p></ul>
<ul><p><font  face="Helvetica">Upcycling/Repurposing Objects</font></p></ul>
<ul><p><font  face="Helvetica">Creative Entrepreneurship</font> <br>
 <br></p></ul>
<p><font  face="Helvetica">4. Claims of Infringement</font> <br>
</p>
<p><font  face="Helvetica">If you believe your work has been 
copied in a way that violates copyright or intellectual property rights, 
contact Seek Your Course administration immediately at</font></p>
<p><font  face="Helvetica">(</font><a href="mailto:info@seekyourcourse.com" target="_blank"><font color="#000099"  face="Helvetica"><u>info@seekyourcourse.com</u></font></a><font  face="Helvetica">) with the following information: link of 
listing where the violation occurs, a statement declaring that you are 
the owner/originator of the information infringed upon and you have 
not authorized its usage, and your address, phone number, and email 
address.</font> <br> <br></p>

<ul><p><font  face="Helvetica">License</font> <br></p></ul>
<p><font  face="Helvetica">By posting content on Seek Your Course </font><font  face="ArialMT">Users grant Seek Your Course a non-exclusive, 
on-going, royalty-free, irrevocable right to store, re-format, or display 
content in any way Seek Your Course chooses in any media now know or 
not currently known. This includes, but is not limited to, using User 
content in promotional materials for Seek Your Course.</font> <br>
 <br></p>
<ul><p><font  face="ArialMT">Fees</font> <br></p></ul>
<p><font  face="Helvetica">Fees may be charged for postings 
content. The fees will be outlined at the time of posting and must be 
paid according to the terms set. Unpaid fees will result in the removal 
of content and continued unpaid fees will result in the termination 
of the User’s account.</font> <br> <br></p>
<ul><p><font  face="Helvetica">Access</font> <br></p></ul>

<p><font  face="Helvetica">Seek Your Course permits you to display 
the logo or button versions of the logo (provided in the Manage Your 
Listings or Blog sections of the site) or create a hyperlink to <a href="http://seekyourcourse.com" target="_blank">seekyourcourse.com</a> 
on your website or blog so long as the representation of Seek Your Course 
does not portray Seek Your Course, its employees, or its Users in a 
misleading, abusive, or otherwise offensive manner. Users do not have 
the right to any other brand elements or content without express permission 
from a Seek Your Course employee.</font> <br> <br></p>
<ul><p><font  face="Helvetica">Warranty</font> <br></p></ul>
<p><font  face="Helvetica">Seek Your Course Services are provided 
without any warranty or guarantee of performance. Users will not be 
issued refunds nor will Seek Your Course be held responsible for a level 
of performance, threshold of traffic, or any other measurements of success 
generated by Seek Your Course listings. Seek Your Course also does not 
guarantee continuous, uninterrupted access to the site.</font> <br>
 <br></p>
<ul><p><font  face="Helvetica">Liability</font> <br></p></ul>

<p><font  face="Helvetica">Under no circumstance shall Seek 
Your Course be liable for </font><font  face="ArialMT">any direct, 
indirect, incidental, special, consequential or exemplary damages (even 
if Seek Your Course has been notified of the possibility of such damages) 
resulting from your usage of or membership in Seek Your Course, whether 
such damages occur from the usage, misusage, interruption, suspension, 
alteration, or termination of Seek Your Course site of Services.</font> <br>
 <br></p>
<ul><p><font  face="ArialMT">Indemnity</font> <br></p></ul>
<p><font  face="Helvetica">You agree to indemnify and hold Seek 
Your Course, its parent, subsidiaries, affiliates, successors, assigns, 
directors, officers, agents, service providers, and employees, harmless 
from any claim or demand, including reasonable attorney fees and court 
costs, made by any third party due to or arising out of Content you 
submit, post or make available through the Service, your use of the 
Services, your violation of the Terms, or your violation of any rights 
of a third party.</font> <br> <br> <br> <br>
</p>

</div>

