<div id="header2" class="container_12">
<div id="" class="grid_8 "
<%=link_to image_tag('/images/headers/blankHeader.gif'), root_url, :class => "header" %>
</div>
    <div id="" class="grid_4 ">
	  <div id="socialmedia" class="clearfix">
     		<a href="http://www.facebook.com/#!/seekyourcourse"><img src="/images/facebook_30px.png" alt="facebook" class="socialmedia" /></a>
     		<a href="http://twitter.com/#!/seekyourcourse"><img src="/images/twitter_30px.png" alt="twitter" class="socialmedia" /></a>
      </div>
      <img src="" alt="" />
    </div>
</div>


