<div id="header2" class="container_12">
<div id="" class="grid_8 ">
<%=link_to image_tag('/images/logo-finalweb.png'), root_url, :class => "header" %>
</div>
    <div id="" class="grid_4 ">
	  <div id="socialmedia" class="clearfix">
     		<a href="#"><img src="/images/facebook_30px.png" alt="facebook" class="socialmedia" /></a>
     		<a href="http://twitter.com/#!/seekyourcourse"><img src="/images/twitter_30px.png" alt="twitter" class="socialmedia" /></a>
      </div>
      <img src="/images/tagline3.png" alt="Navigation for Creative Learning and Living" />
    </div>
</div>


