    <div id="" class="container_12">
      <div id="" class="grid_12">
        <div id="nav-main" class="clearfix">
<!--
         <%= link_to('Learning Opportunities', offerings_path, :class =>'buttons') %>
          <%= link_to('Instructor Profiles', users_path(:role => User::ROLES[0]), :class =>'buttons')%>
          <%= link_to('Retreat & Conference Profiles', users_path(:role => User::ROLES[1]), :class =>'buttons')%>
          <a href="http://seekyourcourse.com/blog" class="buttons">Blogs</a> 
-->
        </div>

      </div>
    </div>
